


<div class="container">
<div class="bkgrd-start">
  <div class="well avatar-description row">

  <h3>Play as a ruler trying to choose the correct factors that will crush the impending revolution or as a revolutionary trying to chose the factors that cause a tipping point and revolution to break out.</h3>
	<div class="col-xs-4"> 
	<img src="app/images/revolutionary.jpg" >
	<a class="btn btn-revolution btn-lg text-center btn-startup" ng-href="#/level/{{gameState.level}}/role/revolutionary">Revolutionary</a>
   </div>

   <div class="col-xs-4" > 
   <img src="app/images/ruler.jpg">
    <a class="btn btn-revolution btn-lg text-center btn-startup" ng-href="#/level/{{gameState.level}}/role/ruler">Ruler</a>
   </div>
	</div>


</div>	

</div>