<div class="container">
<div class="bkgrd-start">
  <div class="row" style="margin: 0px!important">

<div class="col-xs-6 well avatar-description "> 
  <h2>Welcome to the revolutions game</h2>
<h4>This game will teach you about the factors that cause and prevent revolution. You will be transported to six historical time periods on the cusp of revolution, and will play as either ruler or revolutionary. Your mission is to carefully choose the factors that will help your cause and avoid ones that will not. Be careful, some factors can cause the tipping point of revolution to happen more quickly than others.</h4>

<div class="col-xs-6" ng-controller="ModalCtrl"> 
<a class="btn btn-revolution btn-lg text-center btn-startup btn-revolution" href ng-click="open('lg')">
  Detailed instructions
</a>
</div>

<div class="col-xs-6" > 
<a class="btn btn-lg text-center btn-startup pull-right btn-revolution" href="#/level/1">Continue <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
 </div>

<div class="col-xs-6"> 

</div>
</div>
</div>
</div>  
</div>